div{
	margin:0px auto;
	text-align: center;
}

p{
	 font-family: "Arial Black";
	 font-size: 6px;
	 line-height: 0%;
}

#title{
	font-size: 70px;
}

#secret{
	font-size: 0px;
	color: white;
}

@media screen and (max-width:613px) {
	div{
		width:100%;
	}
	img{
		width:100%;
	}
	#title{
		font-size:2em;
	}
}